dialog
{
	background: Window;
	color:      WindowText;
	height:     240px;
	padding:    0;
	width:      640px;
}

view[type="buffer"]
{
	background: ThreeDFace;
	border:     1px solid ThreeDShadow;
	margin:     0 10px;
	padding:    1px;
}

#language
{
    margin: 10px;
}

#language radio
{
	margin:  0 10px 0 0;
	padding: 0;
}

.dialog-button-box
{
	background:             ThreeDFace;
	border-top:             2px solid ThreeDShadow;
	margin:                 10px 0 0 0;
	padding:                10px;
	-moz-border-top-colors: ThreeDShadow Window;
}

button[dlgtype="accept"],
button[dlgtype="cancel"]
{
    margin: 0 0 0 10px;
}
